{% assign mainproduct = {{all_products['fitra-activity-band']}} %}

<div id="page-index" >

  <div id = "product-images" class = "sticky-sideimage">
    <div class = "singleproductimage">
      <img src  = "{{ mainproduct.images[0] | img_url: 'x1440'}}">
    </div>
  </div>

  <!--Beginning of Product Info Grid-->
  <div id="product-info" class = "main-content grid">

        <div class = "valign-center">
          <h1 class = "headline-big">{{mainproduct.title}}</h1>
        </div>


       <div class="two-columns grid">

        <div class = "headline valign-bottom">
            <h2>
              {{'product.copy.headline' | t}}
            </h2>
        </div>

        <div class="description">
          <h3>{{'product.copy.description_headline' | t}}</h3>
          <div class="description-content">{{mainproduct.description}}</div>
        </div>

        <div class="details">
          <ul class = "list-with-stroke">
            <li>{{'details_list.item1' | t}}</li>
            <li>{{'details_list.item2' | t}}</li>
          </ul>
        </div>


        <div class="form-wrapper">
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
            <label for="productSelect">{{mainproduct.options.first}}</label>
              <select name="id" id="productSelect">
                {% for variant in mainproduct.variants %}
                    <option value="{{ variant.id }}">
                        {{variant.title}}
                    </option>
                {% endfor %}
              </select>
            {{ current_variant.price | money }}
            <button type="submit" name="add" id="add-to-cart">{{'form.submit' | t}}
              <span class = "product-price">{{mainproduct.price | money_with_currency}}</span>
            </button>
          </form>
        </div>

    </div>
  </div>
  <!--End of Product info-->
</div>
