{% assign mainproduct = {{all_products['fitra-activity-band']}} %}

<div class = "largesideimage">
  <div class = "singleproductimage">
    <img src  = "{{ mainproduct.images[0] | img_url: '700x700'}}">
  </div>
</div>

<div class="product-info">
  <h2>{{'product.copy.headline' | t}}</h2>
</div>

<div class="description">
  <h3>{{'product.copy.description_headline' | t}}</h3>
    {{mainproduct.description}}
</div>


<div class="details">
  <ul>
    <li>{{'details_list.item1' | t}}</li>
    <li>{{'details_list.item2' | t}}</li>
  </ul>
</div>

</div>

<div class="form-wrapper">
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <label for="productSelect">{{mainproduct.options.first}}</label>
  <select name="id" id="productSelect">
    {% for variant in mainproduct.variants %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <button type="submit" name="add" id="AddToCart">{{'form.submit' | t}}</button>
</form>
</div>

